footer {
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background: #000000;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-content .logo {
    height: 160px;
}

.footer-link:hover {
    color: crimson;
}

.footer-title,
.info {
    color: whitesmoke;
    margin: 20px;
}

.footer-title {
    margin-top: 80px;
    color: #0c9ee2;
}