 @import url(./nav.css);
 @import url(./footer.css);
 .header-section {
     width: 100%;
     height: calc(50vh - 100px);
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .header-section .logo {
     height: 500px;
     display: block;
     margin: auto;
 }
 
 .header-section .sub-heading {
     margin-top: 10px;
     text-align: center;
     color: #00aeff;
     text-transform: capitalize;
     font-size: 35px;
     font-weight: 300;
 }
 /* VIDEOS */
 
 .videos {
     position: relative;
     overflow: hidden;
     padding: 20px 0;
 }
 
 .videos-category {
     padding: 0 10vw;
     font-size: 30px;
     font-weight: 500;
     margin-bottom: 40px;
     text-transform: capitalize;
 }
 
 .videos-container {
     padding: 0 10vw;
     display: flex;
     overflow-x: auto;
     scroll-behavior: smooth;
 }
 
 .videos-container::-webkit-scrollbar {
     display: none;
 }
 
 .videos-card {
     flex: 0 0 auto;
     width: 250px;
     height: 450px;
     margin-right: 40px;
 }
 
 .video-image {
     position: relative;
     width: 100%;
     height: 350px;
     overflow: hidden;
 }
 
 .videos-thumb {
     width: 100%;
     height: 350px;
     object-fit: cover;
 }
 
 .promo-tag {
     position: absolute;
     background: floralwhite;
     padding: 5px;
     border-radius: 5px;
     color: crimson;
     right: 10px;
     text-transform: capitalize;
 }
 
 .card-btn {
     position: absolute;
     bottom: 10px;
     left: 50%;
     transform: translateX(-50%);
     padding: 10px;
     width: 90%;
     text-transform: capitalize;
     border: none;
     outline: none;
     background: floralwhite;
     border-radius: 5px;
     transition: 0.5s;
     cursor: pointer;
     opacity: 0;
 }
 
 .videos-card:hover .card-btn {
     opacity: 1;
 }
 
 .card-btn:hover {
     background: #bdbdbd;
 }
 
 .videos-info {
     width: 100%;
     height: 100px;
     padding-top: 10px;
 }
 
 .videos-name {
     text-transform: uppercase;
 }
 
 .videos-des {
     width: 100%;
     height: 20px;
     line-height: 20px;
     overflow: hidden;
     opacity: 0.5;
     text-transform: capitalize;
     margin: 5px 0;
 }
 
 .price {
     font-weight: 900;
     font-size: 20px;
 }
 
 .real-price {
     margin-left: 20px;
     opacity: 0.5;
     text-decoration: line-through;
 }
 
 .pre-button,
 .next-button {
     border: none;
     width: 10vw;
     height: 100%;
     position: absolute;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
     cursor: pointer;
     z-index: 8;
 }
 
 .pre-button {
     left: 0;
     transform: rotate(180deg);
 }
 
 .next-button {
     right: 0;
 }
 
 .pre-button img,
 .next-button img {
     opacity: 0.2;
 }
 
 .pre-button:hover img,
 .next-button:hover img {
     opacity: 1;
 }
 /* GALLERY CONTAINER */
 
 .gallery-container {
     width: 100%;
     display: -ms-grid;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 10px;
 }
 
 .gallery {
     position: relative;
 }
 
 .gallery img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 
 .gallery p {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translateX(-50%, -50%);
     text-align: center;
     color: #fff;
     font-size: 50px;
     text-transform: capitalize;
 }
 
 .gallery:nth-child(3) {
     grid-column: span 2;
     margin-bottom: 10px;
 }